In [1]:
for val in "hello world":
    print(val)

h
e
l
l
o

w
o
r
l
d

In [5]:
print(range(10))
print(list(range(10)))
print(range(10))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)

## squre root

In [2]:
num1=int(input())
squre=num1*num1
print(num1," is a squre root of",squre)

99
99  is a squre root of 9801

# triangle area formula

#####

In [4]:
num1=int(input())
num2=int(input())

area=num1*num2

area1=area/2

print(area1)

7
5
17.5

In [13]:
eq =  X^2 +  Y + c



# a=int(input())
# b=int(input())
# c=int(input())


print(eq)

NameError: name 'X' is not defined

In [19]:
import random 
print(random.randint(0,99))

21

In [23]:
import random
print(random.randint(0,99))

12

# kilometer to meter

In [5]:
meter=int(input())

conv_fac=1000;

kilometer=(meter*conv_fac)

print(meter'meter is ',(kilometer))

8
hi 8000

In [19]:
kilometer=int(input("enter tha kilometer"))
conv_fac=1000

meter=(kilometer*conv_fac)
print(kilometer,"kilometer =",meter,"meters")

enter tha kilometer6
6 kilometer = 6000 meters

SyntaxError: 'break' outside loop (Temp/ipykernel_19916/3719255097.py, line 7)

# even odd

In [21]:
inp=int(input())

if (inp%2)==0:
    print(" num is even")

else:
    print("no is odd")

9
no is odd

a=int(input())
b=a%2

if b==0:
     print("even")

else:
    print("no is odd")

# largest among 3 num

In [37]:
num1=int(input())
num2=int(input())
num3=int(input())

if num1>num2 and num1>num3:
    print("num1")
elif num2>num1 and num2>num3:
    print("num2")
elif num3>num1 and num3>num2:
    print("num3")
else:
    print("enter valid num")

00
88
66
num2

In [40]:
# Python program to display all the prime numbers within an interval

lower = 50
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
# all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 50 and 100 are:
53
59
61
67
71
73
79
83
89
97

In [42]:
# Python program to check if year is a leap year or not

# year = 2000

# To get year (integer input) from the user
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

Enter a year: 5000
5000 is not a leap year

In [43]:
num = 12

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# sun of natural num

In [11]:
num=int(input())

if num<=0:
    print("enter positive num")
else:
    sum=0
    
    while num>0:
        sum=sum+num
        num=num-1
        
        
print(sum)

8
36